@page "/"

<PageTitle>TV4 Short Url Admin</PageTitle>

<h1>TV4 Short Url Admin</h1>
<div>
    <p>
    Welcome to the <b>TV4 Short Url Admin</b>
    </p>

    <div>
    <p>This is the frontend of AzUrlShortener. An open source URL shortener, hosted in TV4 Azure.</p>
    
    <p>Get started by logging in (top right) and after that go to <a href="./urlmanager">Url Manager</a> in the menu to the left.</p>
    </div>
</div>
